<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <link rel="stylesheet" type="text/css" href="/res/css/common.css">
           <link rel="stylesheet" type="text/css" href="/res/css/init.css">
    <meta charset="UTF-8">
    <title>上传文件</title>
    <script src="/res/js/jquery.min.js" type="text/javascript"></script>
</head>
<body>

  {include file="$menu_path/res/html/menu.html"}
      <div class="main">

    <textarea id="container" >输入具体活动内容</textarea>
    <!-- 加载编辑器的容器 -->
    <button class="up">提交</button>

</div>

    <!-- 配置文件 -->
    <script type="text/javascript" src="/res/Ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/res/Ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
    $().ready(function(){
    var article={}
    article.init = function(){
        article.main_editor = UE.getEditor('container');
        $(".up").click(function(){
            article.save();
                })
        }
    article.params=function(){
        params={}
        params["content"]=article.main_editor.getContent()   
        params['title']   =$('.title').val()
        return params
    }
    article.save= function(){
        var params = article.params();
                $.ajax({
                    type:'post',
                    url: '/index/index/save',
                    data:params,
                    dataType:'json',
                    success:function(data){
                        if (data.code==1){
                        alert(data.message)
                        window.location.href="/index/index/index"}
                    },
                })
        }
    
    article.init();
      })
    </script>
</body>

</html>