<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<style type="text/css">
    .top_menu{
    height:40px;
    }
    .mian {width:100%}
    .main_left{
    width:20%;
    float:left;
    height:auto;
    box-sizing: border-box;
    border:1px solid #00F;
    }
    .main_right{
    width:80%;
    float:right;
    }
</style>
        <link href="/static/init.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="top_menu"><a href="">接口</a> </div>
<div class="main">
    <div class="main_left">
        <label>项目</label>
    </div>
    <div class="main_right">
        <input placeholder="域名">
        <input placeholder="路径">
        <input placeholder="参数">
    </div>
</div>
	<script src="http://apps.bdimg.com/libs/jquery/1.6.4/jquery.js"></script>
<script>
    $().ready(function(){

    })
</script>
</body>
</html>